/** ========================
============================
@project    : DBR.ag
@version    : 1.0
@author     : Thiago Aguiar - thiago.aguiar86@gmail.com
@copyright  : 2016
============================
@begin
=========================**/

/**====================
@debug
====================**/
@border: 1px dotted purple;
@bgDebugColorBlack: black;
@bgDebugColorWhite: white;
@bgDebugColorGray: gray;
@bgDebugColorPurple: purple;
@bgDebugColorPink: pink;
@bgDebugColorOrange: orange;
@bgDebugColorYellow: yellow;

.black {background-color: @bgDebugColorBlack;}
.white {background-color: @bgDebugColorWhite;}
.gray {background-color: @bgDebugColorGray;}
.purple {background-color: @bgDebugColorPurple;}
.pink {background-color: @bgDebugColorPink;}
.orange {background-color: @bgDebugColorOrange;}
.yellow {background-color: @bgDebugColorYellow;}

/**====================
@font-family
====================**/
@GothamThin          		: 'GothamThin';
@GothamBook          		: 'GothamBook';
@GothamBold          		: 'GothamBold';
@GothamBlack          		: 'GothamBlack';

/**====================
@font-size
====================**/
@patternTextSize			: 3em;

/** ========================
@pattern-text-color
=========================**/
@patternColorText   		: #FFFFFF;
@patternColorText2   		: #000000;
@patternColorText3   		: #262626;
@patternColorText4   		: #BF305F;
@patternColorText5   		: #CCCBC4;
@patternColorText6   		: #55E574;
@patternColorText7   		: #8BDF9F;
@patternColorText8   		: #807C61;
@patternColorText9   		: #30C3F3;
@patternColorText10   		: #C7D82C;
@patternColorText11   		: #ABA9A9;
@patternColorText12   		: #FC00A0;

/** ========================
@end
=========================**/
